/*main*/
* {
    box-sizing: border-box;
}







/*______________________________________*/

body { 
    background-color:darkgreen;
}


.head {
    font-family: verdana;
    color: white;
    position: center;

    margin-right: 15%;
    margin-left: 15%;
}
.body {
    color: white;
    width: 70%;
    border-style: dashed;
    border-color: seagreen;
    background-color: midnightblue;
    text-align: center;
}
.body img {

    width: 200px;
    height: auto;
    float: left;


}

/*_________history page____________*/
.historyimage1 img {

    width: 50%;
    height: auto;
    float: left;

}
.historyimage2 img {

    width: 50%;
    height: auto;
    float: right;
}

/*_________contact page____________*/



.bodycontact {
    color: white;
    width: 70%;
    border-style: dashed;
    border-color: seagreen;
    background-color: midnightblue;
    text-align: center;
}

.bodycontact a {
    float: right;

}
.bodycontact img {

    width: 230px;
    height: auto;
    float: left;
}
.bodycontact2 {
    color: white;
    width: 70%;
    border-style: dashed;
    border-color: seagreen;
    background-color: midnightblue;
    text-align: center;

}


.bodycontact2 img {

    width: 230px;
    height: auto;
    float: left;

}




/* Gallery ______________ */
.gallerybody {
    color: white;
    width: 70%;
    border-style: dashed;
    border-color: seagreen;
    background-color: midnightblue;
    text-align: center;
}



.gallery {
    margin-left: 5%;
    margin-right: 5%;
    border: dashed seagreen;
    background-color: midnightblue;
    float: left;
    width: 40%;
    height: auto;
    position: center;
}



.gallery img {
    width: 90%;
    height: auto;
}



.description {
    padding: 15px;
    text-align: center;
    color: white;
}




/* Menu */


ul {
    

    overflow: hidden;
    background-color: seagreen;
    list-style-type: none;
 
    
    
   
}

ul li {
    float: left;
    width: 23%;
    height: 50px;
    margin-right: 10px;


}

ul li a {
    display: inline-block;
    color: white;
    padding: 10px;
   
    text-decoration: none;


    width: 100%;
    
    text-align: center;
    border: 5px solid teal ;
    
}


ul li a:hover {
    background-color: yellowgreen;
   
}





/* screen size  Tablet_ _ _ _ _ _ __ _ _ _ */

@media only screen and (max-width: 820px) {
    .body {
    color: white;
    width: 100%;
    border-style: dashed;
    border-color: seagreen;
    background-color: midnightblue;
}

.head {
    font-family: verdana;
    color: white;
    position: center;
    font-size: 15px;
    margin-right: 15%;
    margin-left: 15%;
}
        
    
    img {
        width: 100%;
        height: auto;
    }
    

    /* Menu */

 ul li {

width: 20%;
margin-left: 2%;
margin-right: 2%;
 }
 ul li a{

     font-size: 12px;
    
 }


/* contact page */

.bodycontact{
    width: 100%;
 }

.bodycontact2{
    width: 100%;
}
/* Gallery ______________ */
.gallerybody {
    color: white;
    width: 70%;
    border-style: dashed;
    border-color: seagreen;
    background-color: midnightblue;
    text-align: center;
}



.gallery {
 
    margin-left: 1%;
    margin-right: 1%;
    border: dashed seagreen;
    background-color: midnightblue;
    float: left;
    width: 48%;
    position: center;
}



.gallery img {
    width: 100%;
    height: auto;
}

.description {
    padding: 5px;
    text-align: center;
    color: white;
}


}

/* ----- MOBILE -----*/
@media only screen and (max-width: 450px) {



    
    .body {
    color: white;
    width: 100%;
    border-style: dashed;
    border-color: seagreen;
    background-color: midnightblue;
           font-size: 10px;
}

.head {
    font-family: verdana;
    color: white;
    position: center;
    font-size: 8px;
    margin-right: 15%;
    margin-left: 15%;
}
        
    
    img {
        width: 100%;
        height: auto;
    }
    
 ul li {

width: 40%;
margin-left: 2%;
margin-right: 2%;
 }
 ul li a{

     font-size: 9px;
    
 }




.bodycontact{
    width: 100%;
    font-size: 10px;
 }

.bodycontact2{
    width: 100%;
    font-size: 10px;
}


/* Gallery ______________ */
.gallerybody {
    color: white;
    width: 90%;
    border-style: dashed;
    border-color: seagreen;
    background-color: midnightblue;
    text-align: center;
}



.gallery {
    margin-left: 1%;
    margin-right: 1%;
    border: dashed seagreen;
    background-color: midnightblue;
    float: left;
    width: 90%;
    position: center;
}



.gallery img {
    width: 100%;
    height: auto;
}

.description {
    padding: 15px;
    text-align: center;
    color: white;
    font-size: 10px;
}

}
